.main-body {
  width: 80%;
  min-height: 100vh;
  margin: 0 auto;
  margin-top: 80px;
  padding: 36px 0;
  background: #fff;
}
body {
  font-family: 'Signika', sans-serif;
}
.header {
  height: 80px;
  width: 100%;
  background-color: #F5F5F5;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}
.header img {
  width: 180px;
  height: auto;
}
.filter-button-wrapper {
  display: flex;
  width: 100%;
  margin-bottom: 24px;
  overflow-x: scroll;
  height: 40px;
}
.card {
  cursor: pointer;
  display: inline-block;
  width: 200px;
  max-width: 200px;
  border-radius: 4px;
  border: 1px solid lightgray;
  margin: 6px;
  transition: 0.3s;
  position: relative;
  margin-bottom: 60px;
}
.card:hover {
  border-color: #3D7DCA;
  transition: 0.3s;
  -webkit-box-shadow: 3px 6px 24px -6px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 6px 24px -6px rgba(0,0,0,0.75);
  box-shadow: 3px 6px 24px -6px rgba(0,0,0,0.75);
}
.card img {
  width: 200px;
  height: 200px;
  object-fit: contain;
  background-color: #F5F5F5;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.title-card {
  margin: 0;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 5px;
}
.wrapper-list-pokemon {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.filter-button-wrapper button {
  cursor: pointer;
  height: 40px;
  width: 20%;
  border: none;
  display: flex;
  justify-content: center;
  font-size: 14px;
  font-weight: 600;
  text-transform: capitalize;
}
.pokeball-icon {
  width: 40px;
  position: absolute;
  top: 40px;
}
.attribute {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 24px;
  min-width: 70px;
  text-align: center;
  margin: 4px;
  border-radius: 4px;
  text-transform: capitalize;
}
.fire-color {
  background: linear-gradient(180deg, #fd7d24 50%, #fd7d24 50%);
  background-color: #fd7d24;
  color: #fff;
}
.water-color {
  background: linear-gradient(180deg, #4592c4 50%, #4592c4 50%);
  background-color: #4592c4;
  color: #fff;
}
.grass-color {
  background: linear-gradient(180deg, #9bcc50 50%, #9bcc50 50%);
  background-color: #9bcc50;
  color: #212121;
}
.flying-color {
  background: linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
  background-color: #3dc7ef;
  color: #212121;
}
.electric-color {
  background: linear-gradient(180deg, #eed535 50%, #eed535 50%);
  background-color: #eed535;
  color: #fff;
}
.normal-color {
  background: linear-gradient(180deg, #a4acaf 50%, #a4acaf 50%);
  background-color: #a4acaf;
  color: #212121;
}
.fighting-color {
  background: linear-gradient(180deg, #bb5544 50%, #bb5544 50%);
  background-color: #bb5544;
  color:#fff;
}
.poison-color {
  background: linear-gradient(180deg, #a59 50%, #a59 50%);
  background-color: #a59;
  color: #fff;
}
.ground-color {
  background: linear-gradient(180deg, #db5 50%, #db5 50%);
  background-color: #db5;
  color: #fff;
}
.rock-color {
  background: linear-gradient(180deg, #ba6 50%, #ba6 50%);
  background-color: #ba6;
  color: #fff;
}
.psychic-color {
  background: linear-gradient(180deg, #f59 50%, #f59 50%);
  background-color: #f59;
  color: #fff;
}
.bug-color {
  background: linear-gradient(180deg, #ab2 50%, #ab2 50%);
  background-color: #ab2;
  color: #fff;
}
.ghost-color {
  background: linear-gradient(180deg, #7b62a3 50%, #7b62a3 50%);
  background-color: #7b62a3;
  color: #fff;
}
.steel-color {
  background: linear-gradient(180deg, #9eb7b8 50%, #9eb7b8 50%);
  background-color: #9eb7b8;
  color: #212121;
}
.ice-color {
  background: linear-gradient(180deg, #51c4e7 50%, #51c4e7 50%);
  background-color: #51c4e7;
  color: #fff;
}
.dark-color {
  background: linear-gradient(180deg, #707070 50%, #707070 50%);
  background-color: #707070;
  color:#fff
}
.unknown-color {
  background: linear-gradient(180deg, #707070 50%, #707070 50%);
  background-color: #707070;
  color:#fff
}
.shadow-color {
  background: linear-gradient(180deg, #707070 50%, #707070 50%);
  background-color: #707070;
  color:#fff
}
.dragon-color {
  background: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
  background-color: #53a4cf;
  color: #fff;
}
.fairy-color {
  background: linear-gradient(180deg, #fdb9e9 50%, #fdb9e9 50%);
  background-color: #fdb9e9;
  color: #fff;
}
.attribute-wrapper {
  display: flex;
  position: absolute;
  bottom: -15%;
  left: 0;
}
.pokemon-id-wrapper {
  position: absolute;
  padding: 2px;
  display: flex;
  right: 6px;
  top: 6px;
  background: white;
  border: 1px solid gray;
  border-radius: 50px;
}
.pokemon-id-wrapper img {
  width: 22px;
  height: 22px;
  background: none;
}
.pokemon-id {
  margin: 2px;
}