.main-body {
  width: 100%;
  min-height: 100vh;
  margin-top: 80px;
}
body {
  font-family: 'Signika', sans-serif;
}
.header {
  height: 80px;
  width: 100%;
  background-color: #F5F5F5;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}
.header img {
  width: 180px;
  height: auto;
}
.filter-button-wrapper {
  display: flex;
  width: 100%;
}
.filter-button-wrapper button {
  cursor: pointer;
  height: 40px;
  width: 20%;
  border: none;
  display: flex;
  justify-content: center;
  font-size: 14px;
  font-weight: 600;
  text-transform: capitalize;
}
.pokeball-icon {
  width: 40px;
  position: absolute;
  top: 40px;
}
.fire-color {
  background: linear-gradient(180deg, #fd7d24 50%, #fd7d24 50%);
  background-color: #fd7d24;
  color: #fff;
}
.water-color {
  background: linear-gradient(180deg, #4592c4 50%, #4592c4 50%);
  background-color: #4592c4;
  color: #fff;
}
.grass-color {
  background: linear-gradient(180deg, #9bcc50 50%, #9bcc50 50%);
  background-color: #9bcc50;
  color: #212121;
}
.flying-color {
  background: linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
  background-color: #3dc7ef;
  color: #212121;
}
.electric-color {
  background: linear-gradient(180deg, #eed535 50%, #eed535 50%);
  background-color: #eed535;
  color: #212121;
}
